/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: white;
	text-align: left;
  padding-left:50px;
}

.container {
	padding: 0;
	margin-top: 40px;
}

.footer {
	margin-top: 120px;
}

ol {
	list-style-position: inside;
}
ul {
	list-style-type: none;
}

a {
	color: #2574A9;
}

span {
  background-color:#ffe5e5;
  color:red;
}
